<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-primary-yellow">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a class="flex-row text-sm inline-block whitespace-nowrap uppercase text-white"href="{{ site.url }}{{ site.baseurl }}">
        <span><img class="w-12 h-12" src="{{ site.url }}{{ site.baseurl }}/assets/img/strike-blue.svg" alt="MarginMapper" /></span>
      </a>
    </div>
    <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden" id="example-collapse-navbar">

      <h2 class="mb-3 bg-primary-yellow text-primary-blue text-4xl font-extrabold">margin mapper</h2>
        
    </div>
  </div>
</nav>